################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Release
/Debug
*.opensdf
*.sdf
*.suo
*.user
*.psess
*.vsp
/packages/directxtk_desktop_2013.2015.3.27.2
